html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
.side-container {
  position: absolute;
  top: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navigation {
  left: 0;
  width: 30%;
  background-color: aquamarine;
}
#content {
  right: 0;
  width: 70%;
  background-color: #f59c9c;
}

#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

#navigation li {
  padding: 8px 0;
}

#navigation a {
  text-decoration: none;
  color: #202020;
}