:root {
  --background-color: #ecedf3;
}
:root.dark-mode {
  --background-color: #474747;
}

body {
  margin: 0;
  background-color: var(--background-color)
}
.flexbox {
  display: flex;
}
.container > .flexbox {
  margin: 0 auto;
  max-width: 1000px;
}
.container#header {
  background-color: lightblue;
}
#header .flexbox {
  justify-content: space-between;
  background-color: lightcyan;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#header {
  backdrop-filter: blur(8px);
  padding: 4px 0;
}

.dropdown-container {
  position: relative;
}
.dropdown-content {
  display: none;
  right: 0;
}
.dropdown-button:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
  position: absolute;
  /***
  Adds a buffer zone beyond the border of the
  dropdown in which the dropdown-content
  remains visible.
  ***/
  --dropdown-buffer-size: 24px;
  margin: calc(-1 * var(--dropdown-buffer-size));
  padding: var(--dropdown-buffer-size);
}